/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.content-box {
  width: 280px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1 {
  color: black;
  font-size: 22px;
  text-align: center;
    border: 5px solid white;
}


header {
  text-align: left;
  color: black;
}

.links {
  text-align: left;
  color: black;
  list-style: none;
  padding
}

a {
  color: black;
}

#bio{
  text-align: left;
  color: black;
}


.landing-page {
  -webkit-animation: pulse 28s infinite;
  animation: pulse 28s infinite;
  height: 100%;
  padding-top: 30px;
}

.content {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.section{
  background-color: white;
  padding: 20px;
  overflow: hidden;
}


      @-webkit-keyframes pulse { 
        0% {
          background-color: #DADCE0;
        }
        1% {
          background-color: #D7DAE0;
        }
        2% {
          background-color: #D4D7E2;
        }
        3% {
          background-color: #D1D4E2;
        }
        4% {
          background-color: #CCD4E3;
        }
        5% {
          background-color: #C7D3E5;
        }
        6% {
          background-color: #C4D3E6;
        }
        7% {
          background-color: #BFD3E7;
        }
        8% {
          background-color: #BBD3E8;
        }
        9% {
          background-color: #B4D4E9;
        }
        11% {
          background-color: #ACD5EA;
        }
        12% {
          background-color: #A5D5EB;
        }
        13% {
          background-color: #A3D6EB;
        }
        14% {
          background-color: #A0DAE8;
        }
        15% {
          background-color: #9ADEE6;
        }
        16% {
          background-color: #91E0E3;
        }
        17% {
          background-color: #8BE2DF;
        }
        18% {
          background-color: #89E4DC;
        }
        19% {
          background-color: #87E6D8;
        }
        20% {
          background-color: #85E9D2;
        }
        21% {
          background-color: #82EBC7;
        }
        22% {
          background-color: #81EBBB;
        }
        23% {
          background-color: #80EBB9;
        } 
        24% {
          background-color: #7FEBAF;
        }
        25% {
          background-color: #7EEBA3;
        }
        26% {
          background-color: #7EEE9B;
        }
        27% {
          background-color: #7EF191;
        }
        28% {
          background-color: #7EF584;
        }
        29% {
          background-color: #7EF776;
        }
        30% {
          background-color: #91F575;
        }
        33% {
          background-color: #A5F374;
        }
        34% {
          background-color: #BAEE73;
        }
        35% {
          background-color: #C0EB72;
        }
        36% {
          background-color: #CFEB70;
        }
        37% {
          background-color: #D9EB6E;
        }
        38% {
          background-color: #E3EB6C;
        }
        39% {
          background-color: #E7EB61;
        }
        40% {
          background-color: #E8E85F;
        }
        41% {
          background-color: #EAE25D;
        }
        42% {
          background-color: #EBDF5B;
        }
        43% {
          background-color: #EBDA5B;
        }
        44% {
          background-color: #EBD15A;
        }
        45%{
          background-color: #EBC559;
        }
        46% {
          background-color: #EBBC58;
        }
        47% {
          background-color: #EBB457;
        }
        48% {
          background-color: #EBAA53;
        }
        49% {
          background-color: #EBA04D;
        }
        50% {
          background-color: #EB9948;
        }
        51% {
          background-color: #EB9041;
        }
        52% {
          background-color: #EB853F;
        }
        53% {
          background-color: #EB813B;
        }
        54% {
          background-color: #EB7837;
        }
        55% {
          background-color: #EB7035;
        }
        56% {
          background-color: #EB6735;
        }
        57% {
          background-color: #EB6235;
        }
        58% {
          background-color: #EB5D36;
        }
        59% {
          background-color: #EB5936;
        }
        60% {
          background-color: #EB573B;
        }
        61% {
          background-color: #EB553D;
        }
        62% {
          background-color: #EB553D;
        }
        63% {
          background-color: #EB5045;
        }
        64% {
          background-color: #EB514E;
        }
        65% {
          background-color: #EB5354;
        }
        66% {
          background-color: #EB545C;
        }
        67% {
          background-color: #EB5560;
        }
        68% {
          background-color: #EB576E;
        }
        69% {
          background-color: #EB5979;
        }
        70% {
          background-color: #EB5A84;
        }
        71% {
          background-color: #EB5C8F;
        }
        72% {
          background-color: #EB5F9C;
        }
        73% {
          background-color: #EB60AC;
        }
        74% {
          background-color: #EB62BA;
        }
        75% {
          background-color: #EB65C3;
        }
        76% {
          background-color: #EB67CB;
        }
        77% {
          background-color: #EB6AD2;
        }
        78% {
          background-color: #EB6DDC;
        }
        79% {
          background-color: #EB72E2;
        }
        80% {
          background-color: #EB7BE4;
        }
        81% {
          background-color: #EB83E6;
        }
        82% {
          background-color: #EB8DE9;
        } 
        83% {
          background-color: #EA90EB;
        }
        84% {
          background-color: #E49BEB;
        }
        85% {
          background-color: #DBA3EB;
        }
        86% {
          background-color: #D1A9EB;
        }
        88% {
          background-color: #C8ADEB;
        }
        91% {
          background-color: #CBB4EB;
        }
        92% {
          background-color: #CDBEEB;
        }
        93% {
          background-color: #CFCAEB;
        }
        94% {
          background-color: #D1D0EB;
        }
        95% {
          background-color: #D4D3EB;
        }
        96% {
          background-color: #D7D8EB;
        }
        97% {
          background-color: #DADCEB;
        }
        98% {
          background-color: #DADCE9;
        }
        99% {
          background-color: #DADCE6;
        }
        100% {
          background-color: #DADCE3;
        }
      }



@keyframes pulse {
  0% {
    background-color: #DADCE0;
  }
  1% {
    background-color: #D7DAE0;
  }
  2% {
    background-color: #D4D7E2;
  }
  3% {
    background-color: #D1D4E2;
  }
  4% {
    background-color: #CCD4E3;
  }
  5% {
    background-color: #C7D3E5;
  }
  6% {
    background-color: #C4D3E6;
  }
  7% {
    background-color: #BFD3E7;
  }
  8% {
    background-color: #BBD3E8;
  }
  9% {
    background-color: #B4D4E9;
  }
  11% {
    background-color: #ACD5EA;
  }
  12% {
    background-color: #A5D5EB;
  }
  13% {
    background-color: #A3D6EB;
  }
  14% {
    background-color: #A0DAE8;
  }
  15% {
    background-color: #9ADEE6;
  }
  16% {
    background-color: #91E0E3;
  }
  17% {
    background-color: #8BE2DF;
  }
  18% {
    background-color: #89E4DC;
  }
  19% {
    background-color: #87E6D8;
  }
  20% {
    background-color: #85E9D2;
  }
  21% {
    background-color: #82EBC7;
  }
  22% {
    background-color: #81EBBB;
  }
  23% {
    background-color: #80EBB9;
  } 
  24% {
    background-color: #7FEBAF;
  }
  25% {
    background-color: #7EEBA3;
  }
  26% {
    background-color: #7EEE9B;
  }
  27% {
    background-color: #7EF191;
  }
  28% {
    background-color: #7EF584;
  }
  29% {
    background-color: #7EF776;
  }
  30% {
    background-color: #91F575;
  }
  33% {
    background-color: #A5F374;
  }
  34% {
    background-color: #BAEE73;
  }
  35% {
    background-color: #C0EB72;
  }
  36% {
    background-color: #CFEB70;
  }
  37% {
    background-color: #D9EB6E;
  }
  38% {
    background-color: #E3EB6C;
  }
  39% {
    background-color: #E7EB61;
  }
  40% {
    background-color: #E8E85F;
  }
  41% {
    background-color: #EAE25D;
  }
  42% {
    background-color: #EBDF5B;
  }
  43% {
    background-color: #EBDA5B;
  }
  44% {
    background-color: #EBD15A;
  }
  45%{
    background-color: #EBC559;
  }
  46% {
    background-color: #EBBC58;
  }
  47% {
    background-color: #EBB457;
  }
  48% {
    background-color: #EBAA53;
  }
  49% {
    background-color: #EBA04D;
  }
  50% {
    background-color: #EB9948;
  }
  51% {
    background-color: #EB9041;
  }
  52% {
    background-color: #EB853F;
  }
  53% {
    background-color: #EB813B;
  }
  54% {
    background-color: #EB7837;
  }
  55% {
    background-color: #EB7035;
  }
  56% {
    background-color: #EB6735;
  }
  57% {
    background-color: #EB6235;
  }
  58% {
    background-color: #EB5D36;
  }
  59% {
    background-color: #EB5936;
  }
  60% {
    background-color: #EB573B;
  }
  61% {
    background-color: #EB553D;
  }
  62% {
    background-color: #EB553D;
  }
  63% {
    background-color: #EB5045;
  }
  64% {
    background-color: #EB514E;
  }
  65% {
    background-color: #EB5354;
  }
  66% {
    background-color: #EB545C;
  }
  67% {
    background-color: #EB5560;
  }
  68% {
    background-color: #EB576E;
  }
  69% {
    background-color: #EB5979;
  }
  70% {
    background-color: #EB5A84;
  }
  71% {
    background-color: #EB5C8F;
  }
  72% {
    background-color: #EB5F9C;
  }
  73% {
    background-color: #EB60AC;
  }
  74% {
    background-color: #EB62BA;
  }
  75% {
    background-color: #EB65C3;
  }
  76% {
    background-color: #EB67CB;
  }
  77% {
    background-color: #EB6AD2;
  }
  78% {
    background-color: #EB6DDC;
  }
  79% {
    background-color: #EB72E2;
  }
  80% {
    background-color: #EB7BE4;
  }
  81% {
    background-color: #EB83E6;
  }
  82% {
    background-color: #EB8DE9;
  } 
  83% {
    background-color: #EA90EB;
  }
  84% {
    background-color: #E49BEB;
  }
  85% {
    background-color: #DBA3EB;
  }
  86% {
    background-color: #D1A9EB;
  }
  88% {
    background-color: #C8ADEB;
  }
  91% {
    background-color: #CBB4EB;
  }
  92% {
    background-color: #CDBEEB;
  }
  93% {
    background-color: #CFCAEB;
  }
  94% {
    background-color: #D1D0EB;
  }
  95% {
    background-color: #D4D3EB;
  }
  96% {
    background-color: #D7D8EB;
  }
  97% {
    background-color: #DADCEB;
  }
  98% {
    background-color: #DADCE9;
  }
  99% {
    background-color: #DADCE6;
  }
  100% {
    background-color: #DADCE3;
  }
}

.img1{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.img2{
  position: absolute;
  top: 110px;
  left: 260px;
  width: 250px;
  height: auto;
  z-index: 2;
}

.img3{
  position: absolute;
  top: 180px;
  left: 100px;
  width: 300px;
  height: auto;
  z-index: 3;
}

.nextimagediv{
  display: none;
}




@media only screen and (min-width: 480px){
  h1{
      font-size: 25px;
  }
  .content-box{
      width: 300px;
  }
}








