/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.content-box {
  width: 280px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1 {
  color: black;
  font-size: 22px;
  text-align: center;
    border: 5px solid white;
}


header {
  text-align: left;
  color: black;
}

.links {
  text-align: left;
  color: black;
  list-style: none;
  padding
}

a {
  color: black;
}

#bio{
  text-align: left;
  color: black;
}


.landing-page {
  -webkit-animation: pulse 28s infinite;
  animation: pulse 28s infinite;
  height: 100%;
  padding-top: 30px;
  footer: display = none;
}

.content {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.section{
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

footer {
  color: #000;
  position: fixed;
  height: 30px;
  width: 100%;
  z-index: 10000000;
  bottom: 0;
  left: 0;
  padding: 10 10 10 5%;
  font-size: 14px;
  letter-spacing: .5px;
  text-align: center;
  line-height: 2.5em;
  margin: 25px;
}

.copyright-name-date { 
  display: inline; 
}


@media only screen and (min-width: 480px){
  h1{
      font-size: 25px;
  }
  .content-box{
      width: 300px;
  }
}
