html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


@font-face { font-family: HelveticaNeueLt; src: url('../fonts/helveticaneue/HelveticaNeueLt.ttf'); }
@font-face { font-family: HelveticaNeueHv; src: url('../fonts/helveticaneue/HelveticaNeueHv.ttf'); }
@font-face { font-family: HelveticaNeue; src: url('../fonts/helveticaneue/HelveticaNeue.ttf'); }
@font-face { font-family: HelveticaNeueBlackCond; src: url('../fonts/helveticaneue/HelveticaNeueBlackCond.ttf'); }

/*normal*/
html {
  font-size: 14px; }

body {
  display: inline;
  height: 90%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.25;
  color: #000;
  font-family: 'HelveticaNeueLt', sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

p {
  font-size: 1.2em; }

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.25; }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111; }

hr {
  color: #f00;
  background-color: #f00;
  height: 5px;
}


.x_large {
  font-size: 4em;
  margin: 0;
  line-height: 1;
  text-align: left; }
  .x_large a {
    color: white; }
    .x_large a:hover {
      color: #FC571F; }


.copyright-name-date {
  text-align: center;
  font-family: 'HelveticaNeueHv', sans-serif;
  margin-bottom: 0px;
  padding-bottom: 10px;
  margin-top: 30%;
}

.content-section {
  margin-top: 10px;
}

li {
  text-align: left;
  font-size: 1.25em; 
}

footer {
  padding-bottom: 0px;
}


.nav-name-justification{
   text-align: left;
   font-family: 'HelveticaNeueHv', sans-serif;
} 

.navbar-header-index a {
  color: #000;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.navbar-header-index a:hover { 
  color: #FF00FF;
  text-decoration: none;
}


.row {
  margin-left: 0;
  margin-right: 0;
}

.about-quote {
  font-family: 'HelveticaNeueLt', sans-serif;
  color:#000;
  font-size: 18px;
  text-align: left;
  margin:0 auto;
  padding-bottom: 5px; 
  margin-right: 3%;
  margin-top: 20%;
  text-decoration: none;
}


a.link1 {
  color:#808080;
}
a:hover.link1 {
  color: #39ff14;
  text-decoration: none;
}

@media (min-width: 544px) {
  .nav {
    text-align: left;
  }
  .copyright-name-date-index{
    margin-top: 80%;
  }
 }

/*media-qery 768px*/
@media (min-width: 768px) {
  body {
    font-size: 1em;
    line-height: 1.375; }

  h1 {
    font-size: 2.5em;
    line-height: 1.125; }

  h2 {
    font-size: 2em;
    line-height: 1.25; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25; }

  h4 {
    line-height: 1.22222222; }

  .nav {
    text-decoration: none; }

}


/*media-qery 992px*/
@media (min-width: 992px) {
  h1 {
    font-size: 3em;
    line-height: 1.05; }

  h2 {
    font-size: 2.25em;
    line-height: 1.25; }

  h3 {
    font-size: 1.75em;
    line-height: 1.25; } 
  }

section {
  width: 100%;
}


